

module.exports = {
	facebook: {
		app_id: '512404112161744',
		app_secret: '991944e5815e0b3ddaecbc83a61af5b1',
		callback_url: 'http://localhost:8000/login/callback'
	},
	database: {
		host: 'localhost',
		port: '27017',
		database: 'talksbuzz'
	},
	locale: {
		default: 'en-us'
	}
};