radiusAll($size){
    -webkit-border-radius: $size;
    -moz-border-radius: $size;
    border-radius: $size;
}

.app-title,
.app-title:hover {
	color:#FFF;
}

.talks {
	.talk {
		width:750px;
		margin:0 auto;
		position:relative;
		margin-bottom:30px;

		.label {
			position:absolute;
			top:15px;
			right:15px;
		}

		img {
			float:left;
			margin-right:15px;
			width:200px;
			height:200px;
			radiusAll(200px);
		}

		.presenter {
			color:#e8d069;
			font-family: "Cabin",Arial,sans-serif;
		}

		.btn {
			width:200px;
			position:absolute;
			left:50%;
			margin-left:-100px;
			bottom:15px;
			text-transform:uppercase;
		}

		.description {
			font-size:15px;
		}
	}
}

.page-talk {
	margin:0 2%;
	
	.header {
		width:100%;
		float:left;
		padding-bottom:30px;

		.thumb {
			width:300px;
			height:300px;
			radiusAll(300px);
			float:left;
			margin-right:30px;
		}

		.presenter {
			color:#e8d069;
			font-family: "Cabin",Arial,sans-serif;
		}
	}

	.grid-timeline {
		width: 500px;
		margin:0 auto;

		textarea {
			width: 500px;
			height: 78px;
			resize:none;
		}

		button {
			float:right;
		}

		.submit-post {
			margin-right:15px;
		}

		.timeline {
			list-style:none;
			margin:0;
			padding:0;

			li {
				display:block;
				width:100%;
				background:#13a0aa;
				padding:15px;
				margin-bottom:5px;
			}
		}
	}
}
















